<% if local_assigns[:recent_commands] %>
  <ul class="kommandant-max-h-80 kommandant-scroll-py-2 kommandant-divide-y kommandant-divide-gray-100 kommandant-overflow-y-auto">
    <% if recent_commands.any? %>
      <li class="kommandant-p-2">
        <h2 class="kommandant-mt-4 kommandant-mb-2 kommandant-px-3 kommandant-text-xs kommandant-font-semibold kommandant-text-gray-500"><%= t(".recent_commands") %></h2>
        <ul class="kommandant-text-sm kommandant-text-gray-700">
          <% recent_commands.each do |command| %>
            <%= render "kommandant/shared/command_palette/command", command: command %>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
