<div class="py-14 px-6 text-center sm:px-14">
  <span class="p-2 shadow-sm inline-flex items-center justify-center text-xs leading-5 font-semibold rounded-full flex-shrink-0 h-10 w-10 bg-slate-700 text-white">
    <%= render "kommandant/shared/icons/search" %>
  </span>

  <p class="mt-4 text-sm text-gray-900"><%= t(".text") %> <span class="font-medium"><%= query %></span></p>
</div>
