<div class="hidden flex items-center space-x-2 px-4 h-12" data-command-palette-target="loadingMessage">
  <%= render "kommandant/shared/icons/spinner" %>

  <p class="text-sm font-medium text-gray-700"><%= t(".text") %></p>
</div>
