<div class="hidden flex items-center space-x-2 px-4 h-12" data-command-palette-target="loadingMessage">
  <%= content_tag(:i, nil, class: "fas fa-circle-notch fa-spin text-gray-400") %>

  <p class="text-sm font-medium text-gray-700"><%= t(".text") %></p>
</div>
