<div data-command-palette-target="loadingMessage" class="hidden">
  <div class="kommandant-flex kommandant-items-center kommandant-space-x-2 kommandant-px-4 kommandant-h-12">
    <%= render "kommandant/shared/icons/spinner" %>

    <p class="kommandant-text-sm kommandant-font-medium kommandant-text-gray-700"><%= t(".text") %></p>
  </div>
</div>
